#main{
width:830px;
height:650px;
margin:0 auto;
font-family:'Ubuntu',sans-serif
}
#form_sample{
border:1px solid #2BC1F2;
width:200px;
padding:0 50px 15px;
margin-top: 20px;
margin-left: 200px;
border-radius:6px;
}
#main h2{
margin-top:20px
}
h2{
margin-left: 0px;
}
hr{
margin-top:-5px
}
label{
float:left;
font-size:16px
}
input[type="text"]{
width:100%;
margin-top:10px;
margin-bottom:25px;
padding:10px;
border:1px solid;
}
textarea{
width:100%;
border: 1px solid;
padding:10px;
margin-bottom:25px;
margin-top:10px;
resize:none
}
input[type="submit"]{
width:100%;
padding:10px 45px;
background-color:#2BC1F2;
border:none;
color:#fff;
font-size:18px;
font-weight:700;
cursor:pointer;
font-family:'Ubuntu',sans-serif
}